<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <img src="/static/spaces.webp" width="350px" height="350px">
    <h3 class="title" style="font-family: 'Varela Round', sans-serif; color: #324047">Sign Up</h3>
    <div class="box" style="box-shadow: 0 0 15px 3px rgb(0 0 0 / 5%);">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            <div class="notification is-success">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

        
        <form method="POST" action="/signup">


            <div class="field">
                    <div class="control">
                     

                    <select  class="input is-large" name="university" id="university" style="border-radius:35px;font-family: 'Varela Round', sans-serif;" placeholder="Select an University">
                        <option value="" disabled selected>Select an University</option>
                        <option value="DCU">DCU</option>
                        </select>
                    
                    
                    </div>
                </div>

                <div class="field">
                        <div class="control">

                                <select  class="input is-large" name="course" id="course" style="border-radius:35px;font-family: 'Varela Round', sans-serif;" placeholder="Select an University">
                                        <option value="" disabled selected>Select a Course</option>
                                        <option value="GDWT">GDWT</option>
                                        </select>
                                                            
                        
                        </div>
                    </div>


                    <div class="field">
                            <div class="control">
                                <input class="input is-large" type="access_key" name="access_key" style="border-radius:35px;font-family: 'Varela Round', sans-serif;" placeholder="Access Key" autofocus="">
                            </div>
                        </div>



            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" style="border-radius:35px;font-family: 'Varela Round', sans-serif;" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" style="border-radius:35px;font-family: 'Varela Round', sans-serif;" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" style="border-radius:35px;font-family: 'Varela Round', sans-serif;" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" style="border-radius:35px;background-color:#773690;font-family: 'Varela Round', sans-serif;">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
 